* {
  font-family: 'Montserrat', serif;
}

body {
  margin: 50px 150px;
}

.back {
  position: absolute;
  top: 25px;
  left: 25px;
}

.timer-input {
  border: 1px solid #808080;
  width: 272px;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  padding: 8px 16px;
  transition: border-color 250ms ease-in-out;
  outline: transparent;
}

.timer-input:active {
  border-color: #000;
}

.timer-input:hover {
  border-color: #4e75ff;
}

.btn-new-time {
  border-radius: 8px;
  padding: 8px 16px;
  width: 75px;
  height: 40px;
  background: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  transition: background 250ms ease-in-out, color 250ms ease-in-out;
}

.btn-new-time[disabled] {
  background: #cfcfcf;
  color: #989898;
}

.btn-new-time:hover {
  background: #6c8cff;
  color: #fff;
}

.timer {
  display: flex;
  margin-top: 32px;
  gap: 24px;
}

.field {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.value {
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.label {
  font-size: 16px;
  line-height: 150%;
  color: #2e2f42;
}

/*Form styles*/

.form {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
  display: flex;
  flex-flow: column wrap;
}

.delay-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.elem-form {
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
}

.fieldset-elem {
  margin-bottom: 24px;
  height: 78px;
  display: flex;
  gap: 48px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn-create-promise {
  color: white;
  border-radius: 8px;
  padding: 8px 16px;
  background: #4e75ff;
  transition: background 250ms ease-in-out;
}

.btn-create-promise:hover {
  background: #6c8cff;
}
